
    .signin {
        background-image: url(https://www.fue.edu.eg/ImageHandler.ashx?Id=6429&SS=7236ec28809dbdd72855fd7784ae9d01);
        margin: 0;
        padding: 0;
         background-repeat: no-repeat;
         background-size: cover; 
         background-position: center;
     }
     
.myButton {
	box-shadow:inset 0px 1px 0px 0px #bbdaf7;
	background:linear-gradient(to bottom, #79bbff 5%, #378de5 100%);
	background-color:#79bbff;
	border-radius:6px;
	border:1px solid #84bbf3;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:18px;
	font-weight:bold;
	padding:8px 20px;
	text-decoration:none;
	text-shadow:3px -2px 8px #528ecc;
}
.myButton:hover {
	background:linear-gradient(to bottom, #378de5 5%, #79bbff 100%);
	background-color:#378de5;
}
.myButton:active {
	position:relative;
	top:1px;
}

.loginbox{
    text-align: left; 
    width: 350px;
    height: 450px;
    background:rgba(0, 0, 0,0.9);
    color: #fff;
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%,-50%);
    box-sizing: border-box;
    padding: 70px 30px;

    
}
.avatar{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    position: absolute;
    top: -50px;
    left: calc(50% - 50px)
}

.loginbox p{
    margin:0;
    padding: 0;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;

}
.loginbox input{
    width: 100%;
    margin: 20px;
    font-family: Arial, Helvetica, sans-serif;
}
.loginbox input[type="text"], input[type="password"]
{
    border: none;
    border-bottom: 1px solid #fff;
    background: transparent;
    outline: none;
    height: 40px;
    color: #fff;
    font-size: 16px;
    
}

.Signinn{
    text-align: center; 
color:white;  
text-transform: uppercase;
background-color:rgba(0, 0, 0, 0.9) ;
font-size: 28px;
font-family: Arial, Helvetica, sans-serif;
}